/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    height: 100px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    border: 3px solid black;
    height: 500px;
    width: 400px;
    margin-left: 35%;
    margin-top: 50px;
}
.card{
    height: 100px;
    width: 100px;
    background-image: linear-gradient(blue);
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 70px;
}
#btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}

.one{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;

}
button{
    background-color: aqua;
    border-radius: 2px;
   margin-left:100px;
   margin-top: 30px;
   height: 40px;
   width: 150px;
}

.total{
    display: flex;
    justify-content: center;
    margin-top: 30px;
} */