*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    height: 100px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 20px 0px 20px;
}
ul>li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav>h2{
    text-transform: uppercase;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
    
}
nav>button{
    padding: 8px 12px 8px 12px;
    border-radius: 7px;
    background-color: rgb(209, 131, 41);
    color: black;
}


main{
    
    height: 300px;
    background-color: rgb(127, 229, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
main>.card{
    height: 220px;
    width: 350px;
    background-color: rgb(220, 56, 215);
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0px 4px 6px black;
}