*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


h1{
    text-align: center;
    margin: 20px ;
  
}
main{
    height: 400vh;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
   
    background-size: cover;
}

.card{
    height: 500px;
    width: 400px;
    background-image: linear-gradient(orange,white,green);
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 70px;


}
h2{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav{
    height: 60px;
    width: 100%;
   background-image: linear-gradient(to right, orange, white, green);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

img{
    eight: 200px;
    width: 200px;
    display: flex;
    margin-left: 120px;
    margin-top: 40px;
    border-radius: 50%;
    
}
footer{
    height: 50px;
    background-color: aqua;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}