*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card1{
    height: 200px;
    width: 300px;
    border: 2px solid black;
}
.card2{

     height: 200px;
    width: 300px;
    border: 2px solid black;

}
.box{
    height: 200px;
    width: 200px;
    background-color: aqua;
    border: 2px solid black;
}